#shop-ai-chat-container.section {
  margin-top: 20px;
  margin-bottom: 20px;
  .shop-ai-chat-bubble {
    display: none;
  }

  .shop-ai-chat-window {
    height: 70vh;
    height: calc(var(--viewport-height, 100vh) * 0.7);
    max-height: 650px;
    min-height: 350px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .shop-ai-chat-close {
    display: none;
  }
}
